In [4]:
import pandas as pd
from sklearn import tree

In [5]:
df = pd.read_csv("E:\GIT\CSE-0408_Summer-2021\Final\Decision\Moon.csv")

In [6]:
x = df.iloc[:,:-1]

In [7]:
x

   heihgt  weight  shoe size
0     189      80         44
1     170      70         43
2     160      60         38
3     160      54         37
4     161      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [8]:
y=df.iloc[:,3]

In [9]:
y

0      male
1      male
2      male
3    female
4      male
5    female
6    female
7    female
8    female
9      male
Name: gender, dtype: object

In [10]:
classify_ = tree.DecisionTreeClassifier()

In [11]:
classify_ =classify_.fit(x,y)

In [12]:
prediction_ = classify_.predict([[190,70,43]])

In [13]:
prediction_

array(['female'], dtype=object)